*  {
    box-sizing: border-box;
}

body  {
    text-align: center;
    background-image: linear-gradient(45deg, black, crimson);
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}
body h1 a  {
    color: rgb(12, 152, 218);
    text-decoration: none;
}
body h1 a:hover  {
    text-decoration: underline;
}

/*Centralizando a div calculadora:*/
body div.calculadora  {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,0.8);
    transform: translate(-50%, -50%);
    border-radius: 11px;
    padding: 15px;
}

header  {
    font-size: 25px;
    text-shadow: 0px 0px 10px white;
}
header:hover  {
    text-transform: uppercase;
}

div p#res  {
    background-color: #fff;
    color: black;
    height: 37px;
    text-align: right;
    margin: 15px 4px 5px 4px;
    font-size: 22px;
}

button  {
    height: 50px;
    width: 55px;
    font-size: 22px;
    margin: 1px;
    cursor: pointer;
    background-color: rgb(31,31,31,31);
    border: none;
    color: #fff;
}
button:hover  {
    background-color: rgb(22, 21, 21);
    color: rgb(14, 182, 14);
}
button#botIgual  {
    height: 106px;
}
button#botao0  {
    width: 117px;
}

p  {
    color:red;
    font-size: 15px;
}